body {
    background-image: url("../images/The-Polar-Express-700x394.jpg");
    background-size: cover;
}

.jumbotron {
    margin-top: 120px;
    background-color: white;
    color: red;
    font-style: oblique;
    font-family: serif;
    font-variant: small-caps;
    font-weight: bold;
}

#begin {
    box-shadow: 5px 5px 10px 3px greenyellow, 10px 10px 15px 5px orangered;
}

#submit {
    font-family: serif;
    font-variant: small-caps;
    font-size: 20px;
    box-shadow: 5px 5px 10px 3px greenyellow, 10px 10px 15px 5px orangered;
}

#game {
    color: black;
    font-size: large;
    font-weight: bolder;
}

#sub-head {
    color: green;
    font-weight: bold;
}

#timer,#results {
    color: black;
    font-weight: bold;
    font-size: large;
}